debbug_4.json
[
    {
        "id": "4b0d46176830263d",
        "type": "tab",
        "label": "MESUR 3 SYSTEM",
        "disabled": false,
        "info": "Sistem Monitoring Seismik IoT Final v2.0\n- Fixed Syntax Errors\n- Multi-Node Support\n- Master-Detail View"
    },
    {
        "id": "c10bd4eb1ea73e9b",
        "type": "inject",
        "z": "4b0d46176830263d",
        "name": "Init on Boot",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "77021b38fae22db8"
            ]
        ]
    },
    {
        "id": "77021b38fae22db8",
        "type": "change",
        "z": "4b0d46176830263d",
        "name": "Reset Globals",
        "rules": [
            {
                "t": "set",
                "p": "seiscatch_status",
                "pt": "global",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "global_command",
                "pt": "global",
                "to": "STOP",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "plot_mode",
                "pt": "flow",
                "to": "TIME",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "b8e5fdd96ce1dfa1",
        "type": "mqtt in",
        "z": "4b0d46176830263d",
        "name": "Uplink (Wildcard)",
        "topic": "seismic/uplink/#",
        "qos": "0",
        "datatype": "auto",
        "broker": "brk_mosquitto",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 200,
        "wires": [
            [
                "fd2c530723fb3ace"
            ]
        ]
    },
    {
        "id": "fd2c530723fb3ace",
        "type": "function",
        "z": "4b0d46176830263d",
        "name": "Logic Core (Router)",
        "func": "// LOGIC CORE: SIMPLIFIED (Clean & Fast)\n\n// 1. Ambil Node ID dari Topik\nvar topicParts = msg.topic.split('/');\nvar nodeID = topicParts[topicParts.length - 1]; \nif (!nodeID || nodeID === \"uplink\") nodeID = \"001\";\n\n// 2. Normalisasi Input (Pasti String)\nvar rawStr = msg.payload.toString().trim();\n\n// 3. Bersihkan Header ID Node (misal: \"<1>stat=...\" menjadi \"stat=...\")\n// Regex ini menghapus karakter apapun di antara kurung siku <...>\nvar cleanStr = rawStr.replace(/<.*?>/, \"\");\n\n// 4. Init Global Status\nvar statusMap = global.get('seiscatch_status') || {};\nif (!statusMap[nodeID]) {\n    statusMap[nodeID] = { vcc: 0, status: \"Online\", time: Date.now(), id: nodeID };\n}\n\n// --- JALUR A: DATA STATUS (Teks) ---\nif (cleanStr.includes(\"stat=\")) {\n    \n    // Update VCC\n    if (cleanStr.includes(\"sys=\")) {\n        var parts = cleanStr.split('&');\n        var sysPart = parts.find(p => p.startsWith(\"sys=\"));\n        if (sysPart) statusMap[nodeID].vcc = parseInt(sysPart.split('=')[1]);\n        statusMap[nodeID].status = \"Idle / Polling\";\n    }\n    statusMap[nodeID].time = Date.now();\n\n    // Handshake Waktu\n    if (cleanStr.includes(\"TIME_REQ\")) {\n        var now = Math.floor(Date.now() / 1000);\n        setTimeout(() => {\n            node.send([null, null, { payload: \"TIME:\" + now, topic: \"seismic/downlink\" }]);\n        }, 1200); \n        statusMap[nodeID].status = \"Syncing Time\";\n    }\n\n    // Cek Tugas (POLL)\n    if (cleanStr.includes(\"POLL\")) {\n        var cmd = global.get('global_command') || \"STOP\";\n        if (cmd === \"REQ_ACQ\") {\n            setTimeout(() => {\n                node.send([null, null, { payload: \"ACQ_START\", topic: \"seismic/downlink\" }]);\n            }, 1200);\n            statusMap[nodeID].status = \"Starting Acquisition\";\n        }\n    }\n\n    // Update UI\n    global.set('seiscatch_status', statusMap);\n    node.send([{ payload: statusMap }, null, null]);\n}\n\n// --- JALUR B: DATA SEISMIK (Hex String) ---\n// Jika panjang > 10 dan BUKAN status, anggap Hex Data\nelse if (cleanStr.length > 10) {\n    \n    statusMap[nodeID].status = \"Receiving Data\";\n    statusMap[nodeID].time = Date.now();\n    global.set('seiscatch_status', statusMap);\n    node.send([{ payload: statusMap }, null, null]);\n\n    try {\n        // Konversi Hex String (\"0030...\") ke Buffer\n        var dataBuffer = Buffer.from(cleanStr, 'hex');\n        var msgBiner = { payload: dataBuffer, topic: nodeID };\n        node.send([null, msgBiner, null]);\n    } catch(e) {\n        return null; // Abaikan jika bukan hex valid\n    }\n}\n\nreturn null;",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 200,
        "wires": [
            [
                "c4de66d3ebfc9eb6"
            ],
            [
                "a39ab7b5478f4e4c"
            ],
            [
                "5689ac759f6f5649"
            ]
        ]
    },
    {
        "id": "a39ab7b5478f4e4c",
        "type": "function",
        "z": "4b0d46176830263d",
        "name": "Binary Parser (Int16)",
        "func": "// BINARY PARSER (Simple Int16 Decoder)\n// Input: Buffer [Seq (1 Byte), Data (Int16)...]\n\nvar buf = msg.payload;\nvar nodeID = msg.topic;\n\n// Validasi Buffer (Min 3 byte: 1 Seq + 2 Data)\nif (!Buffer.isBuffer(buf) || buf.length < 3) return null;\n\n// 1. Ambil Sequence Number (Byte pertama)\nvar seqNum = buf[0];\n\n// 2. Decoding Data (Mulai dari Byte ke-1)\n// Wemos mengirim Int16 Little Endian\nvar points = [];\nfor (var i = 1; i < buf.length - 1; i += 2) {\n    var val = buf.readInt16LE(i);\n    points.push(val);\n}\n\n// 3. Output\nmsg.payload = points;\nmsg.topic = nodeID;\nmsg.packet_seq = seqNum; // Berguna untuk debug packet loss\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 260,
        "wires": [
            [
                "17f57f866a6f092d",
                "node_prog_logic"
            ]
        ]
    },
    {
        "id": "b342767ebf8db84f",
        "type": "function",
        "z": "4b0d46176830263d",
        "name": "Set Selected Node & Redirect",
        "func": "// FILTER PENGAMAN:\n// Hanya proses jika payload adalah STRING (ID Node, misal \"001\")\n// Abaikan jika payload adalah Object (Data update status)\nif (typeof msg.payload !== 'string') {\n    return null;\n}\n\n// 1. Set Global Variable\nglobal.set('selected_view_node', msg.payload);\n\n// 2. Notifikasi UI\nvar notifMsg = {payload: \"Memuat data Node: \" + msg.payload};\n\n// 3. Redirect ke Tab Analisis\nvar navMsg = {payload: {tab: \"PLOT & ANALISIS\"}};\n\nreturn [notifMsg, navMsg];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 140,
        "wires": [
            [
                "e1e3a55fc83d061e",
                "21697e6f0594d951"
            ],
            [
                "bdc77e620892f515"
            ]
        ]
    },
    {
        "id": "e1e3a55fc83d061e",
        "type": "ui_toast",
        "z": "4b0d46176830263d",
        "position": "bottom_right",
        "displayTime": "2000",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Notif",
        "x": 1110,
        "y": 40,
        "wires": []
    },
    {
        "id": "bdc77e620892f515",
        "type": "ui_ui_control",
        "z": "4b0d46176830263d",
        "name": "Redirect Plot Tab",
        "events": "all",
        "x": 1430,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "b22bc9e903bec176",
        "type": "change",
        "z": "4b0d46176830263d",
        "name": "Set Global CMD",
        "rules": [
            {
                "t": "set",
                "p": "global_command",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "RESET_PROGRESS",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 440,
        "wires": [
            [
                "node_prog_logic"
            ]
        ]
    },
    {
        "id": "5689ac759f6f5649",
        "type": "mqtt out",
        "z": "4b0d46176830263d",
        "name": "Ke Dragino",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "brk_mosquitto",
        "x": 630,
        "y": 340,
        "wires": []
    },
    {
        "id": "4763faf0c8a849c7",
        "type": "catch",
        "z": "4b0d46176830263d",
        "name": "On Deploy",
        "scope": null,
        "uncaught": false,
        "x": 500,
        "y": 80,
        "wires": [
            [
                "416a3f916355ab56"
            ]
        ]
    },
    {
        "id": "416a3f916355ab56",
        "type": "change",
        "z": "4b0d46176830263d",
        "name": "Fetch Map",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "seiscatch_status",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 80,
        "wires": [
            [
                "c4de66d3ebfc9eb6"
            ]
        ]
    },
    {
        "id": "3511fd9751309dee",
        "type": "ui_button",
        "z": "4b0d46176830263d",
        "name": "Export CSV",
        "group": "grp_visual",
        "order": 6,
        "width": 7,
        "height": 1,
        "passthru": false,
        "label": "UNDUH DATA (CSV)",
        "tooltip": "",
        "color": "#3E4E50",
        "bgcolor": "#ECEFF1",
        "className": "",
        "icon": "fa-download",
        "payload": "",
        "payloadType": "str",
        "topic": "export",
        "topicType": "str",
        "x": 330,
        "y": 800,
        "wires": [
            [
                "9dfa24d2ac1e33fd"
            ]
        ]
    },
    {
        "id": "9dfa24d2ac1e33fd",
        "type": "function",
        "z": "4b0d46176830263d",
        "name": "Build Query",
        "func": "var selectedNode = global.get('selected_view_node');\nif (!selectedNode) {\n    return null;\n}\nmsg.query = `SELECT * FROM seismic_raw WHERE \"topic\" = '${selectedNode}' ORDER BY time DESC LIMIT 1000`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 800,
        "wires": [
            [
                "c5ab2b9fed8d8798"
            ]
        ]
    },
    {
        "id": "c5ab2b9fed8d8798",
        "type": "influxdb in",
        "z": "4b0d46176830263d",
        "influxdb": "conf_influx",
        "name": "Read DB",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 650,
        "y": 800,
        "wires": [
            [
                "8514800b210b19b7"
            ]
        ]
    },
    {
        "id": "8514800b210b19b7",
        "type": "function",
        "z": "4b0d46176830263d",
        "name": "To CSV",
        "func": "var data = msg.payload;\nif (!Array.isArray(data) || data.length === 0) return null;\n\nvar csv = \"timestamp,node_id,amplitude\\n\";\nfor (var i = 0; i < data.length; i++) {\n    var row = data[i];\n    csv += `${row.time},${row.topic},${row.payload}\\n`;\n}\nmsg.payload = csv;\nmsg.filename = \"seismic_\" + (global.get('selected_view_node') || \"data\") + \".csv\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 800,
        "wires": [
            [
                "d846576f7372cc10"
            ]
        ]
    },
    {
        "id": "ec71eb28517d2790",
        "type": "ui_button",
        "z": "4b0d46176830263d",
        "name": "Back Home",
        "group": "grp_visual",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "Kembali ke Daftar Node",
        "color": "",
        "bgcolor": "#ECEFF1",
        "className": "",
        "icon": "fa-arrow-left",
        "payload": "0",
        "payloadType": "num",
        "topic": "nav",
        "topicType": "str",
        "x": 1250,
        "y": 100,
        "wires": [
            [
                "bdc77e620892f515"
            ]
        ]
    },
    {
        "id": "21697e6f0594d951",
        "type": "ui_text",
        "z": "4b0d46176830263d",
        "group": "grp_visual",
        "order": 5,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "Analisis Node:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1300,
        "y": 40,
        "wires": []
    },
    {
        "id": "d846576f7372cc10",
        "type": "ui_template",
        "z": "4b0d46176830263d",
        "group": "grp_visual",
        "name": "Modal",
        "order": 8,
        "width": 7,
        "height": 1,
        "format": "<div id=\"csv-modal\" style=\"display:none; position:fixed; z-index:1000; left:0; top:0; width:100%; height:100%; overflow:auto; background-color:rgba(0,0,0,0.6); backdrop-filter: blur(2px);\">\n    <div style=\"background-color:#fefefe; margin: 15% auto; padding: 20px; border: 1px solid #888; width: 80%; max-width: 400px; border-radius: 8px; text-align: center; box-shadow: 0 4px 8px rgba(0,0,0,0.1); font-family: 'Roboto', sans-serif;\">\n        <h3 style=\"color:#3E4E50\">Data Siap!</h3>\n        <p style=\"color:#78909C; font-size:0.9em\">File CSV siap diunduh.</p>\n        <a id=\"csv-link\" href=\"#\" target=\"_blank\" \n           style=\"display:block; width:100%; padding:12px 0; background-color:#3E4E50; color:white; text-decoration:none; border-radius:4px; margin-bottom:10px; transition: background 0.3s;\">\n           <i class=\"fa fa-download\"></i> Download CSV\n        </a>\n        <button onclick=\"document.getElementById('csv-modal').style.display='none'\" \n                style=\"width:100%; padding:10px 0; border:none; background:#ECEFF1; color:#455A64; border-radius:4px; cursor:pointer;\">\n            Tutup\n        </button>\n    </div>\n</div>\n<script>\n    (function(scope) {\n        scope.$watch('msg', function(msg) {\n            if (msg && msg.payload) {\n                var blob = new Blob([msg.payload], { type: 'text/csv;charset=utf-8;' });\n                var url = URL.createObjectURL(blob);\n                var link = document.getElementById('csv-link');\n                link.href = url;\n                link.download = msg.filename;\n                document.getElementById('csv-modal').style.display = 'block';\n            }\n        });\n    })(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 940,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "c4de66d3ebfc9eb6",
        "type": "ui_template",
        "z": "4b0d46176830263d",
        "group": "grp_control",
        "name": "Node List Table",
        "order": 6,
        "width": 22,
        "height": 4,
        "format": "<style>\n    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');\n    body { font-family: 'Roboto', sans-serif; }\n    \n    .seis-table { width: 100%; border-collapse: collapse; font-size: 0.85rem; cursor: pointer; }\n    .seis-table th { text-align: left; padding: 10px 5px; color: #546E7A; font-weight: 700; border-bottom: 2px solid #CFD8DC; text-transform: uppercase; font-size: 0.75rem; }\n    .seis-table td { padding: 12px 5px; border-bottom: 1px solid #ECEFF1; color: #37474F; }\n    .seis-table tr:hover { background-color: #F1F8E9; cursor: pointer; transition: background 0.2s; }\n    .seis-table tr.selected { background-color: #DCEDC8; border-left: 4px solid #558B2F; }\n    .badge { padding: 4px 8px; border-radius: 4px; color: white; font-size: 0.7rem; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; }\n    .bg-green { background: #558B2F; } \n    .bg-blue { background: #455A64; }  \n    .bg-orange { background: #D84315; } \n    .vcc-text { font-weight: 700; color: #263238; }\n    .click-hint { font-size: 0.7rem; color: #90A4AE; display: block; margin-top: 2px; font-style: italic; }\n</style>\n\n<table class=\"seis-table\">\n    <thead>\n        <tr>\n            <th>NODE ID</th>\n            <th>STATUS</th>\n            <th>Daya</th>\n        </tr>\n    </thead>\n    <tbody>\n        <tr ng-repeat=\"(id, node) in msg.payload\" ng-click=\"send({payload: id})\" ng-class=\"{'selected': node.selected}\">\n            <td>\n                <div style=\"font-weight:bold; font-size: 1rem;\">{{node.id}}</div>\n                <span class=\"click-hint\">Klik untuk Analisis</span>\n            </td>\n            <td><span class=\"badge\" \n                ng-class=\"{'bg-green': node.status.includes('Acquisition'), 'bg-blue': node.status.includes('Receiving'), 'bg-orange': node.status.includes('Poll')}\">\n                {{node.status}}</span>\n            </td>\n            <td><span class=\"vcc-text\">{{node.vcc}} mV</span></td>\n        </tr>\n    </tbody>\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 660,
        "y": 140,
        "wires": [
            [
                "b342767ebf8db84f"
            ]
        ]
    },
    {
        "id": "90e64a3aa09d5c56",
        "type": "ui_template",
        "z": "4b0d46176830263d",
        "group": "grp_control",
        "name": "Header",
        "order": 1,
        "width": 30,
        "height": 4,
        "format": "<div style=\"text-align:center; background: white; padding: 15px; border-bottom: 4px solid #3E4E50; margin-bottom: 10px;\">\n    <h2 style=\"margin:0; color: #3E4E50; font-weight: 800; font-size: 3.8rem; letter-spacing: 1px;\">MESUR</h2>\n    <p style=\"margin:0; color: #78909C; font-size: 1.8rem; text-transform: uppercase;\">IoT Seismic Monitoring System</p>\n    <div style=\"margin-top: 5px; font-size: 2.2rem; color: #455A64; font-weight: 300;\">\n        <i class=\"fa fa-clock-o\"></i> <span id=\"sys-time\">Loading...</span>\n    </div>\n</div>\n<script>\n    (function(scope) {\n        setInterval(function() {\n            var d = new Date();\n            document.getElementById('sys-time').innerText = d.toLocaleTimeString();\n        }, 1000);\n    })(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 100,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "caf282d961b1fe15",
        "type": "ui_template",
        "z": "4b0d46176830263d",
        "group": "grp_control",
        "name": "Floating ACQ Button",
        "order": 3,
        "width": 10,
        "height": 1,
        "format": "<style>\n    .float-btn {\n        position: fixed;          /* Kunci posisi relatif terhadap layar */\n        bottom: 30px;             /* Jarak dari bawah */\n        right: 20px;              /* Jarak dari kanan */\n        background-color: #D84315; /* Warna Terra Cotta (Earth Tone) */\n        color: white;\n        border: none;\n        border-radius: 50px;      /* Membuat sudut bulat (Pill Shape) */\n        padding: 12px 24px;       /* Padding dalam tombol */\n        box-shadow: 0 4px 8px rgba(0,0,0,0.4); /* Efek bayangan */\n        font-weight: bold;\n        font-size: 14px;\n        cursor: pointer;\n        z-index: 9999;            /* Pastikan selalu di paling atas */\n        transition: transform 0.2s, background 0.2s;\n        display: flex;\n        align-items: center;\n        outline: none;\n    }\n\n    .float-btn:active {\n        transform: scale(0.95);   /* Efek membal saat ditekan */\n        background-color: #BF360C;\n    }\n\n    .float-btn i {\n        font-size: 18px;\n        margin-right: 8px;\n    }\n    \n    /* Animasi berdenyut agar user sadar tombol ini penting */\n    @keyframes pulse-orange {\n        0% { box-shadow: 0 0 0 0 rgba(216, 67, 21, 0.7); }\n        70% { box-shadow: 0 0 0 10px rgba(216, 67, 21, 0); }\n        100% { box-shadow: 0 0 0 0 rgba(216, 67, 21, 0); }\n    }\n    \n    .float-btn {\n        animation: pulse-orange 2s infinite;\n    }\n</style>\n\n<button class=\"float-btn\" ng-click=\"send({payload: 'REQ_ACQ'})\">\n    <i class=\"fa fa-podcast\"></i>\n    AKUISISI START!\n</button>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 560,
        "y": 440,
        "wires": [
            [
                "b22bc9e903bec176"
            ]
        ]
    },
    {
        "id": "743088c5481697a3",
        "type": "ui_ui_control",
        "z": "4b0d46176830263d",
        "name": "Trigger: Refresh Home",
        "events": "change",
        "x": 680,
        "y": 40,
        "wires": [
            [
                "416a3f916355ab56"
            ]
        ]
    },
    {
        "id": "17f57f866a6f092d",
        "type": "function",
        "z": "4b0d46176830263d",
        "name": "Format to DB",
        "func": "// FORMATTER KHUSUS UNTUK INFLUXDB BATCH NODE\n// Input: msg.payload = [10, 25, -5, ...] (Array Angka)\n// Output: msg.payload = [{measurement:..., fields:..., tags:..., timestamp:...}, ...]\n\nvar values = msg.payload;\nvar nodeID = msg.topic || \"unknown\";\n\n// 1. Validasi Input\nif (!Array.isArray(values)) return null;\n\nvar batch = [];\nvar endTime = Date.now(); // Waktu saat paket diterima\nvar intervalMs = 20;      // Estimasi jeda antar sampel (50Hz)\n\n// 2. Loop Pembentukan Batch\nfor (var i = 0; i < values.length; i++) {\n\n    // Hitung waktu mundur untuk setiap sampel agar urut\n    var timeOffset = (values.length - 1 - i) * intervalMs;\n\n    // PENTING: Gunakan Objek Date() JavaScript. \n    // Node Batch InfluxDB akan otomatis mengonversinya ke presisi MS.\n    var uniqueTime = new Date(endTime - timeOffset);\n\n    batch.push({\n        // A. Nama Tabel (Measurement) - Wajib di Batch Mode\n        measurement: \"seismic_raw\",\n\n        // B. Tags (Index) - Agar bisa di-query per Node\n        tags: {\n            node_id: nodeID.toString()\n        },\n\n        // C. Fields (Data Nilai) - Wajib Integer\n        fields: {\n            amplitude: parseInt(values[i])\n        },\n\n        // D. Waktu Unik\n        timestamp: uniqueTime\n    });\n}\n\n// Kirim Array Batch ke Node Influx Batch\nmsg.payload = batch;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 200,
        "wires": [
            [
                "2e16174020b75511"
            ]
        ]
    },
    {
        "id": "2e16174020b75511",
        "type": "influxdb batch",
        "z": "4b0d46176830263d",
        "influxdb": "conf_influx",
        "precision": "ms",
        "retentionPolicy": "",
        "name": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 990,
        "y": 200,
        "wires": []
    },
    {
        "id": "ec6a6ec71c493546",
        "type": "ui_template",
        "z": "4b0d46176830263d",
        "group": "grp_visual",
        "name": "Universal Chart (JS)",
        "order": 10,
        "width": 30,
        "height": 6,
        "format": "<script src=\"https://cdn.jsdelivr.net/npm/chart.js\"></script>\n<div style=\"position: relative; height: 100%; width: 100%; padding: 10px;\">\n    <canvas id=\"seismicChart\"></canvas>\n</div>\n\n<script>\n(function(scope) {\n    var myChart = null;\n    var globalCounter = 0; \n    var MAX_POINTS = 1000; \n\n    // Konfigurasi Default\n    var defaultConfig = {\n        labels: [], data: [], xLabel: \"Urutan Sampel\", color: \"#1f77b4\", legend: \"Menunggu Data...\"\n    };\n\n    function initChart(config) {\n        var ctx = document.getElementById('seismicChart').getContext('2d');\n        if (myChart) myChart.destroy();\n\n        myChart = new Chart(ctx, {\n            type: 'line',\n            data: {\n                labels: config.labels || [],\n                datasets: [{\n                    label: config.legend,\n                    data: config.data || [],\n                    borderColor: config.color,\n                    borderWidth: 1.5,\n                    pointRadius: 0, fill: false, tension: 0.1\n                }]\n            },\n            options: {\n                responsive: true, maintainAspectRatio: false, animation: false,\n                interaction: { mode: 'index', intersect: false },\n                scales: {\n                    x: { title: { display: true, text: config.xLabel }, ticks: { maxTicksLimit: 10 } },\n                    y: { title: { display: true, text: 'Amplitudo' } }\n                }\n            }\n        });\n    }\n\n    setTimeout(function() { if (!myChart) initChart(defaultConfig); }, 200);\n\n    scope.$watch('msg', function(msg) {\n        if (!msg) return;\n\n        // A. GANTI KONFIGURASI\n        if (msg.topic === \"CONFIG_CHANGE\") {\n            initChart(msg.payload);\n        } \n        \n        // B. REPLACE DATA (History / FFT)\n        else if (myChart && msg.topic === \"REPLACE_DATA\") {\n            myChart.data.labels = msg.payload.labels;\n            myChart.data.datasets[0].data = msg.payload.data;\n            \n            // *** FIX: SINKRONISASI COUNTER DARI BACKEND ***\n            if (msg.payload.isHistory && msg.payload.lastCounter !== undefined) {\n                globalCounter = msg.payload.lastCounter;\n            } else {\n                // Jika FFT atau lainnya, reset counter dummy\n                globalCounter = msg.payload.data.length;\n            }\n            \n            myChart.update();\n        }\n        \n        // C. APPEND DATA (Realtime)\n        else if (myChart && msg.topic === \"APPEND_DATA\") {\n            var newData = msg.payload.data;\n            var newLabels = msg.payload.labels; \n            \n            if (newData && newLabels) {\n                for (var i = 0; i < newData.length; i++) {\n                    // Prioritaskan label dari backend jika ada\n                    // Jika tidak, pakai globalCounter lokal (fallback)\n                    var lbl = (newLabels[i] !== undefined) ? newLabels[i] : globalCounter++;\n                    \n                    myChart.data.labels.push(lbl);\n                    myChart.data.datasets[0].data.push(newData[i]);\n                    \n                    // Sync lokal counter jika label backend lebih besar\n                    if (lbl >= globalCounter) globalCounter = lbl + 1;\n                }\n                \n                var excess = myChart.data.labels.length - MAX_POINTS;\n                if (excess > 0) {\n                    myChart.data.labels.splice(0, excess);\n                    myChart.data.datasets[0].data.splice(0, excess);\n                }\n                myChart.update('none'); \n            }\n        }\n    });\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1340,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "101677531990619f",
        "type": "function",
        "z": "4b0d46176830263d",
        "name": "Chart Formatter",
        "func": "// CHART FORMATTER (Time Series Dedicated)\n// Menangani: \n// 1. APPEND_DATA (Realtime dari Dispatcher)\n// 2. REPLACE_DATA (History dari Database)\n\nvar inputData = msg.payload;\nvar outputMsg = {};\nvar labels = [];\nvar values = [];\n\n// Validasi: Data harus Array\nif (!Array.isArray(inputData)) return null;\n\n// --- KASUS A: HISTORY REPLAY (REPLACE) ---\n// Ciri: Topik khusus 'HISTORY_REPLAY' (dari node Format History)\nif (msg.topic === \"HISTORY_REPLAY\") {\n    \n    // Data history formatnya: [{x: time, y: amp}, ...]\n    // Kita perlu pisahkan untuk Chart.js\n    var histData = inputData[0]; // Biasanya dibungkus array luar oleh Format History\n    \n    // Jika formatnya belum terbungkus array luar, pakai langsung\n    if (!Array.isArray(histData)) histData = inputData;\n\n    labels = histData.map(function(d) { return new Date(d.x).toLocaleTimeString(); });\n    values = histData.map(function(d) { return d.y; });\n\n    outputMsg.topic = \"REPLACE_DATA\";\n    outputMsg.payload = { \n        data: values, \n        labels: labels, // Label waktu real untuk history\n        isHistory: true \n    };\n    return outputMsg;\n}\n\n// --- KASUS B: REALTIME STREAMING (APPEND) ---\n// Ciri: Array Angka Murni (Integer) dari Dispatcher\nelse {\n    // Ambil Start Index dari Binary Parser (agar sumbu X jalan terus 100, 101...)\n    var startIndex = msg.start_index; \n    if (startIndex === undefined) startIndex = 0;\n\n    labels = [];\n    values = inputData;\n\n    // Buat label urut (Continuous Counter)\n    for(var i=0; i<inputData.length; i++) {\n        labels.push(startIndex + i);\n    }\n\n    outputMsg.topic = \"APPEND_DATA\";\n    outputMsg.payload = { \n        data: values,\n        labels: labels \n    };\n    return outputMsg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 620,
        "wires": [
            [
                "ec6a6ec71c493546"
            ]
        ]
    },
    {
        "id": "btn_calc_fft",
        "type": "ui_button",
        "z": "4b0d46176830263d",
        "name": "Hitung FFT",
        "group": "grp_visual",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "HITUNG FFT (DATA TERAKHIR)",
        "tooltip": "Analisis spektrum dari data database",
        "color": "white",
        "bgcolor": "#D84315",
        "className": "",
        "icon": "fa-bar-chart",
        "payload": "CALC",
        "payloadType": "str",
        "topic": "trigger_fft",
        "topicType": "str",
        "x": 110,
        "y": 700,
        "wires": [
            [
                "func_build_fft_query"
            ]
        ]
    },
    {
        "id": "func_build_fft_query",
        "type": "function",
        "z": "4b0d46176830263d",
        "name": "Query Last 2000",
        "func": "var selectedNode = global.get('selected_view_node');\nif (!selectedNode) {\n    node.warn(\"Pilih Node dulu\");\n    return null;\n}\n\n// Ambil 2000 poin terakhir untuk resolusi FFT yang baik\nmsg.query = `SELECT amplitude FROM seismic_raw WHERE \"node_id\" = '${selectedNode}' ORDER BY time DESC LIMIT 2000`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 700,
        "wires": [
            [
                "influx_read_fft"
            ]
        ]
    },
    {
        "id": "influx_read_fft",
        "type": "influxdb in",
        "z": "4b0d46176830263d",
        "influxdb": "conf_influx",
        "name": "Read DB",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 480,
        "y": 700,
        "wires": [
            [
                "func_prep_py_fft"
            ]
        ]
    },
    {
        "id": "func_prep_py_fft",
        "type": "function",
        "z": "4b0d46176830263d",
        "name": "Format Array",
        "func": "var data = msg.payload;\nif (!Array.isArray(data) || data.length === 0) return null;\n\nvar values = [];\n// Balik urutan (Time ASC) agar sinyal runut\nfor (var i = data.length - 1; i >= 0; i--) {\n    values.push(data[i].amplitude);\n}\n\n// Kirim sebagai JSON String ke Python\nmsg.payload = JSON.stringify(values);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 700,
        "wires": [
            [
                "exec_py_fft"
            ]
        ]
    },
    {
        "id": "exec_py_fft",
        "type": "exec",
        "z": "4b0d46176830263d",
        "command": "python3 /data/seismic_calc.py",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Run Python",
        "x": 850,
        "y": 700,
        "wires": [
            [
                "func_fft_formatter"
            ],
            [],
            []
        ]
    },
    {
        "id": "func_fft_formatter",
        "type": "function",
        "z": "4b0d46176830263d",
        "name": "FFT Formatter (JS)",
        "func": "try {\n    var result = JSON.parse(msg.payload);\n    \n    if (result.status === \"OK\" && result.fft) {\n        var labels = [];\n        var values = [];\n        \n        // Pisahkan X (Freq) dan Y (Amp) untuk Chart.js\n        for(var i=0; i<result.fft.length; i++) {\n            labels.push(result.fft[i].x);\n            values.push(result.fft[i].y);\n        }\n        \n        msg.payload = {\n            labels: labels,\n            data: values\n        };\n        msg.topic = \"UPDATE_FFT\";\n        return msg;\n    }\n} catch(e) { \n    node.warn(\"Error Parse Python: \" + e);\n    return null; \n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 700,
        "wires": [
            [
                "template_fft_chart"
            ]
        ]
    },
    {
        "id": "template_fft_chart",
        "type": "ui_template",
        "z": "4b0d46176830263d",
        "group": "grp_visual",
        "name": "FFT Chart (JS)",
        "order": 12,
        "width": 30,
        "height": 6,
        "format": "<script src=\"https://cdn.jsdelivr.net/npm/chart.js\"></script>\n\n<div style=\"position: relative; height: 100%; width: 100%; padding: 5px;\">\n    <canvas id=\"fftChart\"></canvas>\n</div>\n\n<script>\n(function(scope) {\n    var fftChart = null;\n\n    function initFFT() {\n        var ctx = document.getElementById('fftChart').getContext('2d');\n        \n        if (fftChart) fftChart.destroy();\n\n        fftChart = new Chart(ctx, {\n            type: 'bar', // Bar chart lebih cocok untuk spektrum diskrit\n            data: {\n                labels: [],\n                datasets: [{\n                    label: 'Spektrum Frekuensi (Post-Process)',\n                    data: [],\n                    backgroundColor: 'rgba(216, 67, 21, 0.6)', // Warna Oranye Transparan\n                    borderColor: '#D84315',\n                    borderWidth: 1,\n                    barPercentage: 1.0,\n                    categoryPercentage: 1.0\n                }]\n            },\n            options: {\n                responsive: true,\n                maintainAspectRatio: false,\n                animation: {\n                    duration: 800 // Animasi halus saat load pertama\n                },\n                scales: {\n                    x: {\n                        title: { display: true, text: 'Frekuensi (Hz)' },\n                        ticks: {\n                            autoSkip: true,\n                            maxTicksLimit: 20\n                        }\n                    },\n                    y: {\n                        title: { display: true, text: 'Magnitudo' },\n                        beginAtZero: true\n                    }\n                }\n            }\n        });\n    }\n\n    // Init awal setelah delay agar DOM siap\n    setTimeout(initFFT, 500);\n\n    scope.$watch('msg', function(msg) {\n        if (!msg || msg.topic !== \"UPDATE_FFT\") return;\n        \n        if (!fftChart) initFFT();\n        \n        // Ganti total data\n        fftChart.data.labels = msg.payload.labels;\n        fftChart.data.datasets[0].data = msg.payload.data;\n        fftChart.update();\n    });\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1280,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "node_prog_logic",
        "type": "function",
        "z": "4b0d46176830263d",
        "name": "Hitung Progress",
        "func": "// LOGIKA PROGRESS BAR\n// Estimasi: 5 detik x 100 sps = 500 sampel.\n// 1 Paket = 15 sampel. Total = ~34 Paket.\n\nvar totalPackets = 34;\nvar currentCount = flow.get('pkg_count') || 0;\n\n// Jika menerima trigger Reset (dari tombol ACQ)\nif (msg.topic === \"RESET_PROGRESS\") {\n    flow.set('pkg_count', 0);\n    return { payload: 0 };\n}\n\n// Jika menerima Data (dari Binary Parser)\ncurrentCount++;\nflow.set('pkg_count', currentCount);\n\n// Hitung Persentase\nvar percent = Math.round((currentCount / totalPackets) * 100);\nif (percent > 100) percent = 100;\n\nmsg.payload = percent;\nmsg.topic = \"Progress: \" + currentCount + \"/\" + totalPackets + \" Pkt\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 260,
        "wires": [
            [
                "node_ui_gauge"
            ]
        ]
    },
    {
        "id": "node_ui_gauge",
        "type": "ui_gauge",
        "z": "4b0d46176830263d",
        "name": "Loading Data",
        "group": "grp_visual",
        "order": 1,
        "width": "8",
        "height": "2",
        "gtype": "gage",
        "title": "Status Penerimaan Data",
        "label": "%",
        "format": "{{value}}%",
        "min": 0,
        "max": 100,
        "colors": [
            "#e74c3c",
            "#f1c40f",
            "#3498db"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1120,
        "y": 260,
        "wires": []
    },
    {
        "id": "node_btn_plot_now",
        "type": "ui_button",
        "z": "4b0d46176830263d",
        "name": "Plot Sekarang",
        "group": "grp_visual",
        "order": 2,
        "width": "4",
        "height": "2",
        "passthru": false,
        "label": "REFRESH PLOT (LAST DATA)",
        "tooltip": "Ambil data dari database dan tampilkan",
        "color": "white",
        "bgcolor": "#1f77b4",
        "className": "",
        "icon": "fa-refresh",
        "payload": "REFRESH",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 420,
        "y": 560,
        "wires": [
            [
                "node_qry_hist"
            ]
        ]
    },
    {
        "id": "node_trig_plot_open",
        "type": "ui_ui_control",
        "z": "4b0d46176830263d",
        "name": "Trigger: On Plot Open",
        "events": "change",
        "x": 140,
        "y": 620,
        "wires": [
            [
                "node_chk_tab"
            ]
        ]
    },
    {
        "id": "node_chk_tab",
        "type": "switch",
        "z": "4b0d46176830263d",
        "name": "Is Plot Tab?",
        "property": "payload.tab",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "PLOT & ANALISIS",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 330,
        "y": 620,
        "wires": [
            [
                "node_qry_hist"
            ]
        ]
    },
    {
        "id": "node_qry_hist",
        "type": "function",
        "z": "4b0d46176830263d",
        "name": "Build History Query",
        "func": "var selectedNode = global.get('selected_view_node');\nif (!selectedNode) return null;\n\n// Query 500 data terakhir untuk mengisi grafik\nmsg.query = `SELECT amplitude FROM seismic_raw WHERE \"node_id\" = '${selectedNode}' ORDER BY time DESC LIMIT 500`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 620,
        "wires": [
            [
                "node_read_hist"
            ]
        ]
    },
    {
        "id": "node_read_hist",
        "type": "influxdb in",
        "z": "4b0d46176830263d",
        "influxdb": "conf_influx",
        "name": "Fetch History",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 710,
        "y": 620,
        "wires": [
            [
                "node_fmt_hist"
            ]
        ]
    },
    {
        "id": "node_fmt_hist",
        "type": "function",
        "z": "4b0d46176830263d",
        "name": "Format History",
        "func": "var data = msg.payload;\nif (!Array.isArray(data) || data.length === 0) return null;\n\nvar chartData = [];\n// Balik urutan (ASC) agar sesuai urutan waktu\nfor (var i = data.length - 1; i >= 0; i--) {\n    chartData.push({\n        x: new Date(data[i].time).getTime(),\n        y: data[i].amplitude\n    });\n}\n\n// Kirim ke Chart Formatter dengan topik khusus\nmsg.payload = [chartData];\nmsg.topic = \"HISTORY_REPLAY\"; \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 620,
        "wires": [
            [
                "101677531990619f"
            ]
        ]
    },
    {
        "id": "5a885f6c9a83903b",
        "type": "ui_spacer",
        "z": "4b0d46176830263d",
        "name": "spacer",
        "group": "grp_visual",
        "order": 7,
        "width": 12,
        "height": 1
    },
    {
        "id": "ca755c36f69e6c8b",
        "type": "ui_spacer",
        "z": "4b0d46176830263d",
        "name": "spacer",
        "group": "grp_visual",
        "order": 9,
        "width": 11,
        "height": 1
    },
    {
        "id": "51d7f46d513083a7",
        "type": "ui_spacer",
        "z": "4b0d46176830263d",
        "name": "spacer",
        "group": "grp_visual",
        "order": 11,
        "width": 30,
        "height": 1
    },
    {
        "id": "41e2a43ec54f227e",
        "type": "ui_spacer",
        "z": "4b0d46176830263d",
        "name": "spacer",
        "group": "grp_control",
        "order": 2,
        "width": 10,
        "height": 1
    },
    {
        "id": "fa4b1c427149eb75",
        "type": "ui_spacer",
        "z": "4b0d46176830263d",
        "name": "spacer",
        "group": "grp_control",
        "order": 4,
        "width": 10,
        "height": 1
    },
    {
        "id": "1e335fc84ce2da89",
        "type": "ui_spacer",
        "z": "4b0d46176830263d",
        "name": "spacer",
        "group": "grp_control",
        "order": 5,
        "width": 4,
        "height": 1
    },
    {
        "id": "def64a6a362d3661",
        "type": "ui_spacer",
        "z": "4b0d46176830263d",
        "name": "spacer",
        "group": "grp_control",
        "order": 7,
        "width": 4,
        "height": 1
    },
    {
        "id": "d655c98909fbbacc",
        "type": "ui_spacer",
        "z": "4b0d46176830263d",
        "name": "spacer",
        "group": "grp_control",
        "order": 8,
        "width": 4,
        "height": 1
    },
    {
        "id": "77e9f29dd3e5d0ae",
        "type": "ui_spacer",
        "z": "4b0d46176830263d",
        "name": "spacer",
        "group": "grp_control",
        "order": 9,
        "width": 4,
        "height": 1
    },
    {
        "id": "3344a8143cddd231",
        "type": "ui_spacer",
        "z": "4b0d46176830263d",
        "name": "spacer",
        "group": "grp_control",
        "order": 10,
        "width": 4,
        "height": 1
    },
    {
        "id": "45b4001eeb1cd748",
        "type": "ui_spacer",
        "z": "4b0d46176830263d",
        "name": "spacer",
        "group": "grp_control",
        "order": 11,
        "width": 4,
        "height": 1
    },
    {
        "id": "391f756511035d0e",
        "type": "ui_spacer",
        "z": "4b0d46176830263d",
        "name": "spacer",
        "group": "grp_control",
        "order": 12,
        "width": 4,
        "height": 1
    },
    {
        "id": "4f6dc31704a40fd3",
        "type": "ui_spacer",
        "z": "4b0d46176830263d",
        "name": "spacer",
        "group": "grp_control",
        "order": 13,
        "width": 4,
        "height": 1
    },
    {
        "id": "brk_mosquitto",
        "type": "mqtt-broker",
        "name": "Local Broker",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "grp_visual",
        "type": "ui_group",
        "name": "VISUALISASI & ANALISIS",
        "tab": "930c653161f1a129",
        "order": 2,
        "disp": true,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "conf_influx",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "seismic_data",
        "name": "Seismic DB",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "timeout": "",
        "rejectUnauthorized": true
    },
    {
        "id": "grp_control",
        "type": "ui_group",
        "name": "SOH & KONTROL",
        "tab": "tab_dashboard",
        "order": 1,
        "disp": true,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "930c653161f1a129",
        "type": "ui_tab",
        "name": "PLOT & ANALISIS",
        "icon": "fa-area-chart",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "tab_dashboard",
        "type": "ui_tab",
        "name": "Dashboard Utama",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6c851545df849e3b",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "node-red-contrib-influxdb": "0.7.0"
        }
    }
]